.card{
    background-color: black;
    height: 105px;
    width: 530px;
    padding: 8px 0px;
    display: flex;
    align-items: center;
}
.image img{
    height: 105px;
    object-fit: contain;
    border-radius: 4px;
}
.details{
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.details .title{
    color: #f1f1f1;
    font-size: 20px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
    position:relative;
    margin-top: 0px;
}
.details .info{
    padding-top: 12px;
    height: 18px;
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 300;
    display: flex;
    justify-content: center;
}
.dot{
    padding: 0px 4px;
}
