*{
    margin: 0;
    padding: 0;
}
.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 10px;
}